<app-navigation-bar></app-navigation-bar>
<div class="main-content-div" >
    <form method="POST" class="centered-form" style="width: 70%; padding-right: 20rem; padding-left:0rem; margin-left: 15%">
    <h1 class="form-title">User Management</h1>
    @if(this.errorMessage.length > 0)
    {
        <div class="error-message">
            {{this.errorMessage}}
        </div>
    }
    	<label for="userSelect" class="input-field-descriptor">Select User:</label>
        <select #selectList id="userSelect" name="userSelect" class="input-field select-input" (change)="selectUser(selectList.value)">
        	<option value="null">Select a User</option>
            @for(currentUser of this.allUsers; track currentUser.id)
            {   
                <option id=`{{currentUser.username}}Option` value="{{currentUser | json}}">{{currentUser.username}}</option>
            }
        </select><br>
        <fieldset style="padding: 0.5rem 1rem; margin: 1rem 0rem; padding-bottom: 1.5rem;">
            <legend>User Information</legend>
    	<label for="userId" class="input-field-descriptor">Selected User ID:</label>
        <input type="text" readonly="readonly" id="userId" name="userId" class="input-field" placeholder=" "><br>
        
        <label for="email" class="input-field-descriptor">Email:</label>
        <input type="email" readonly="readonly" id="email" name="email" class="input-field" placeholder=" "><br>
        </fieldset>
        
        
    <label for="status" class="input-field-descriptor">Status:</label>
    <div class="input-field">
        <input type="radio" id="activatedYes" name="status" value="ACTIVE" class="radio-input" [checked]="this.selectedUser.status === 'ACTIVE'">
        <label for="activatedYes">Activated</label>
	    <input type="radio" id="blocked" name="status" value="BLOCKED" class="radio-input" [checked]="this.selectedUser.status === 'BLOCKED'">
	    <label for="blocked">Blocked</label><br>
	</div>
	
	<br>
	<label for="type" class="input-field-descriptor">Type:</label>
	<div class="input-field">
        <input type="radio" id="typeAdmin" name="type" value="Administrator" class="radio-input" [checked]="this.selectedUser.type === 'Administrator'">
	    <label for="typeAdmin">Administrator</label>
	    <input type="radio"  id="typeModerator" name="type" value="Moderator" class="radio-input" [checked]="this.selectedUser.type === 'Moderator'">
	    <label for="typeModerator">Moderator</label>
	    <input type="radio" id="typeForumer" name="type" value="Forumer" class="radio-input" [checked]="this.selectedUser.type === 'Forumer'">
	    <label for="typeForumer">Forumer</label>
	</div>
    <br />
    <div class="buttons-area">
        <button type="button" id="updateButton" [disabled]="isUpdateUserButtonDisabled()" (click)="updateUser(this.selectedUser)">Update User</button>
    </div>

    @if(this.selectedUser.id !== -1){
    <div class="permissions-container" (click)="this.deselectPermission()">
        <fieldset class="insert-permission-section">
            <legend>Add New Permission</legend>
            <label for="type" class="input-field-descriptor">Permission Type:</label>
            <div class="input-field" style="margin:0.4rem">
                @for(permissionString of this.possiblePermissions; track permissionString)
                {
                    <input type="radio" id=`permissionName{{permissionString}}` name="permissionName" value=`{{permissionString}}` class="radio-input" (input)="selectPermissionName(permissionString)">
                    <label for=`permissionName{{permissionString}}`>{{permissionString}}</label>
                }
            </div>
            
                <label for="selectTopicList" class="input-field-descriptor">Topic:</label>
                <select #selectTopicList name="selectTopic" id="selectTopic" class="input-field select-input" (change)="selectTopic(selectTopicList.value)">

                @for(currentTopic of this.allTopics; track currentTopic)
                {
                    <option value="{{currentTopic | json}}">{{this.decodeSanitizedString(currentTopic.name)}}</option>
                }
                </select>
            
            <div class="buttons-area">
                <button type="button" id="updateButton" [disabled]="!this.canAddPermission()" (click)="addPermission()">Add Permission</button>
            </div>
        </fieldset>
        <fieldset style="padding-top: 2rem;">
            <div>&nbsp;</div>
            <legend>View or Remove Permission</legend>
            <section class="table-section">
            <table>
                <thead>
                    <tr>
                        <th>Permission ID</th>
                        <th>Permission</th>
                        <th>Referenced Category</th>
                    </tr>
                </thead>
                <tbody>
                    @for(currentPermission of this.userPermissions; track currentPermission)
                    {
                        <tr (click)="this.selectPermission(currentPermission, $event)" [class.selected-row]="isSelected(currentPermission)">
                            <td>{{currentPermission.id}}</td>
                            <td>{{currentPermission.type}}</td>
                            <td>{{currentPermission.topic_name}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="buttons-area">
                <button type="button" [disabled]="this.selectedPermission == null" (click)="this.deletePermission($event)">Delete Permission</button>
            </div>
            </section>
        </fieldset>


    </div>
    }
    
    <div class="buttons-area">
        <button type="reset" (click)="clearForm()">[Clear All Inputs]</button>
    </div>
    </form>
</div>
