<div class="main-content-div" style="margin-top: 15%;">
    <div class="centered-form">
        <form method="post" class="my-form">
            <h1 class="form-title" style="text-align: center;">Login Form</h1>
            @if(this.errorMessage.length > 0)
            {
                <div class="error-message">{{this.errorMessage}}</div>
            }
            <form onsubmit="onSubmit(event)" class="content-area">

                <fieldset class="number-code">
                  <legend>Security Code</legend>
                  <div>
                    <input name="code" class="code-input" required="required">
                    <input name="code" class="code-input" required="required">
                    <input name="code" class="code-input" required="required">
                    <input name="code" class="code-input" required="required">
                    <input name="code" class="code-input" required="required">
                    <input name="code" class="code-input" required="required">
                  </div>
                </fieldset>
                <p><a href="#">Resend Code</a></p>
                <input type="submit" value="Submit">
              </form>
            
        </form>
    </div>
</div>