form {
	background-color: var(--background-back-color);
	border-radius: 20px;
	box-sizing: border-box;
	padding: 20px;
  }

.error-message{
	border: 1px solid black;
	border-radius: 0.4rem;
	font-size: 1.2rem;
	color: red;
	padding: 1rem;
}

.buttons-area a{
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 0.4rem;
	height: 2rem;
	text-decoration: none;
	color: black;
	font-size: large;
	font-weight: 600;
	padding-top: 1rem;
	background-color: lightgray;
}