<div class="main-content-div" style="margin-top: 15%;">
    <div class="centered-form">
        <form method="post" class="my-form">
            <h1 class="form-title" style="text-align: center;">Login Form</h1>
            <label for="username" class="input-field-descriptor">Username:</label>
            <input type="text" name="username" id="username" required="required" class="input-field" placeholder=" " (input)="onInput()"/><br/><br/>

            <label for="password" class="input-field-descriptor">Password:</label>
            <input type="password" name="password" id="password" required="required" class="input-field" placeholder=" " (input)="onInput()"/><br/><br/>

            <div class="buttons-area">
            <button type="button" style="font-weight: 600; font-size: 1.2rem;" [disabled]="!this.isMyFormValid" (click)="loginUser()">Login</button>
            </div>
            
        </form>
    </div>
</div>
