.full-page {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to maintain full height */
    height: 100vh; /* Ensure the full page spans the full viewport height */
}

.side-bar {
    position: relative; /* Make the sidebar fixed */
    top: 0; /* Align it to the top of the viewport */
    bottom: 0; /* Align it to the bottom of the viewport */
    left: 0; /* Align it to the left of the viewport */
    width: 15%; /* Adjust width to better fit fixed position */
    padding: 2rem;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
}

.forum-posts {
    position: relative; /* Offset the margin to the sidebar's width */
    flex: 1; /* Take up the remaining space */
    height: 100vh; /* Ensure it also spans full height */
    overflow-y: auto; /* Allow vertical scrolling for forum posts */
}

.topic-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: 500;
    border: 1px solid black;
    width: auto; /* Adjust width to fit within the sidebar's padding */
    padding: 1rem;
    margin: 0.5rem auto; /* Center the rows within the sidebar */
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}

.warning-message {
    min-width: 100%;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    line-height: 5rem;
}

.add-new-post-btn {
    color: ghostwhite;
    background-color: rgb(20, 120, 120);
    width: 100%;
    height: 2rem;
    font-size: large;
}

.post-container {
    display: flex;
    padding: 0.3rem;
    padding-top: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    flex-direction: column;
    cursor: pointer;
}

.title-container {
    text-align: left;
    padding-left: 5rem;
    line-height: 2.25rem;
    font-size: xx-large;
    font-weight: 700;
}

.details-container {
    display: flex;
    flex-direction: row;
}

.details-container div {
    padding: 1rem;
}

.content-container {
    box-sizing: border-box;
    padding-bottom: 0;
    flex: 18;
    font-size: medium;
    line-height: 1.5; /* Adjust based on your font size if needed */
    max-height: calc(1.5em * 10); /* 10 lines of text */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.icon-container {
    flex: 1;
}

.created-at-container {
    flex: 1;
}

.user-creator-container {
    flex: 1;
}
