<section class="card-full main-content-div">
    <br />
    <div class="title-container">
        {{caughtPost.title}}
    </div>
    <div class="content-container">
        {{caughtPost.content}}
    </div>
    <p>ID: {{caughtPost.id}}</p>
    <p>Content: </p>
    <p>Topic: {{caughtPost.topic}}</p>
    <p>Author: {{caughtPost.user_creator}}</p>

    <div class="card-comment-section">
        <div class="write-comment-section">
            <mat-form-field class="comment-input-field">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput [(ngModel)]="this.commentToPost" id="comment-text-area"></textarea>
              </mat-form-field>
              <button mat-raised-button color="primary" style="scale: 1.3;" (click)="postComment($event)" [disabled]="(this.commentToPost.length == 0)">Post Comment</button>
        </div>
    @if(this.commentsOnProgram != null)
    {   
    <div class="read-comment-section">
        @for(comment of this.commentsOnProgram; track comment)
        {
            <div class="comment-field">
                <div class="comment-user"><p>{{comment.username}} at {{comment.postedAt}} {{(comment.modifiedAt.length > 0) ? (" (Last edited at: " + comment.modifiedAt + ")") : ""}}</p></div>
                <div class="comment-content"><p>{{comment.content}}</p></div>
                <hr>
            </div>
        }
    </div>
    }
    @else {
        <div>No comments on this post yet!</div>
    }
    </div>
</section>
