.main-section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.dialog-button{
    align-self: center;
}