<div class="bg-image"></div>

<div class="form-text homenaje-regular form-color">
  <h1 style="font-size:3rem">Welcome to</h1>
  <h2 class="montserrat-regular" style="font-size: 5rem;">My SafeForum</h2>
  <div class="button-container">
    <a routerLink="/login-form" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button type="button" extended (click)="loginClick()">
        Login
      </button>
    </a>
      <a routerLink="/register-form" routerLinkActive="active" ariaCurrentWhenActive="page">
      <button type="button" extended (click)="registerClick()">
        Register
      </button>
    </a>
  </div>
</div>