.bg-image {
    
    background-image: url("./../../../assets/forumPhoto.jpg");
    
    /* Add the blur effect */
    filter: blur(7px) sepia(80%);
    -webkit-filter: blur(7px) sepia(80%);
    
    /* Full height */
    height: 100%;
    width: auto;
    
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
.form-text {
    background-color: var(--primary-color-alpha70); /* Black w/opacity/see-through */
    color: ghostwhite;
    
    border: 3px solid #f1f1f1;
    border-radius: 3rem;
    position: absolute;
    
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
    
  }

.button-container
  {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;

  }


button
  {
    scale: 2;
    padding: 10px 20px 10px 20px;
    
    border-radius: 0.4rem;
    background-color: var(--secondary-color);
    margin-top: 2rem;
    font-size: 1rem;
  }

.guest-button button
  {
    scale: 1.0;
    color: red;
  }

